*.pyc

notebooks/
misc/
wandb/
*experiments/
test_*

*.egg-info*
*~
lsf*
*.log
**/log*

scripts/depreceated/

.idea/
.vscode/
.DS_Store

binaries/
build/
datasets/
dist/
*.tar.gz

.ipynb_checkpoints 
masif_pymol_plugin/
__pycache__/*
